workflows/ExternalSecretsVault.json
{
  "active": false,
  "connections": {
    "set vault vars": {
      "main": [
        [
          {
            "node": "vault auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vault auth": {
      "main": [
        [
          {
            "node": "GetWazuhCreds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetWazuhCreds": {
      "main": [
        [
          {
            "node": "return_node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "set vault vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-09T19:18:14.814Z",
  "id": "1p8UcMcDOMzDrc0i",
  "isArchived": false,
  "meta": null,
  "name": "ExternalSecretsVault",
  "nodes": [
    {
      "parameters": {
        "content": "## I'm a note \n**Idea** \n1. get secrets from vault via https api requests\n2. store required secrets in the server deployment env variables. ",
        "height": 208,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -432
      ],
      "typeVersion": 1,
      "id": "73030c5b-c00d-42d8-9e4b-21d7e64e8dbd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0533db73-e001-45bc-b228-ef9ab3e004dd",
              "name": "vault_url",
              "value": "={{ $env.VAULT_ADDR }}",
              "type": "string"
            },
            {
              "id": "4937ae8d-6372-45b6-8eac-1e3db4954b2c",
              "name": "vault_secret",
              "value": "={{ $env.VAULT_SECRET_ID }}",
              "type": "string"
            },
            {
              "id": "a5ad2ea1-5dd1-48de-acef-216a9f03fab1",
              "name": "vault_role_id",
              "value": "={{ $env.VAULT_ROLE_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -112
      ],
      "id": "de66e708-14d4-4659-a455-e7fb5b45e871",
      "name": "set vault vars"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.vault_url }}/v1/auth/approle/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "role_id",
              "value": "={{ $json.vault_role_id }}"
            },
            {
              "name": "secret_id",
              "value": "={{ $json.vault_secret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        -112
      ],
      "id": "97a3ee1c-45b0-4c03-9215-b4495bda9016",
      "name": "vault auth"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2fabd00-7a2a-40e3-a267-4f6b86c6bbbc",
              "name": "authd_password",
              "value": "={{ $json.data.data.authd_password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -112
      ],
      "id": "4b00d7bf-b93c-4d33-8404-ed256f839f15",
      "name": "return_node"
    },
    {
      "parameters": {
        "url": "={{ $('set vault vars').item.json.vault_url }}/v1/argocd/data/argocd-vault-plugin/wazuh",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        -112
      ],
      "id": "d7045e64-719b-4df1-9a26-daa11b947648",
      "name": "GetWazuhCreds",
      "credentials": {
        "httpCustomAuth": {
          "id": "50fGJojGfbwAnqM8",
          "name": "VaultAuth"
        },
        "httpHeaderAuth": {
          "id": "yjLHOV1jIlZiSZuR",
          "name": "VaultMaster"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        -112
      ],
      "id": "8667cc68-962a-4bbb-b292-41867aedb269",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-09T19:18:14.814Z",
      "createdAt": "2025-11-09T19:18:14.814Z",
      "role": "workflow:owner",
      "workflowId": "1p8UcMcDOMzDrc0i",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T02:52:02.217Z",
  "versionId": "5904af10-9339-43d5-ac6e-2cabbc0b2911"
}