workflows/getCurrentSecretId.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "authenticateWithVault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "authenticateWithVault": {
      "main": [
        [
          {
            "node": "setClientToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-14T01:12:38.215Z",
  "id": "y58xQQPT8j29dRLy",
  "isArchived": false,
  "meta": null,
  "name": "getCurrentSecretId",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -48
      ],
      "id": "8e5c7d91-6946-4eaf-acf0-c8e4495d3213",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdb51691-8e98-4217-a876-f55da2830562",
              "name": "vault_addr",
              "value": "={{ $env.VAULT_ADDR }}",
              "type": "string"
            },
            {
              "id": "5fd1086d-57c6-4563-b1a3-2da8ce6b389c",
              "name": "auth.client_token",
              "value": "={{ $json.auth.client_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -48
      ],
      "id": "8b0378e0-b730-4dc3-be3e-4ca75446aefb",
      "name": "setClientToken"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VAULT_ADDR }}/v1/auth/approle/login",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role_id\": \"{{ $env.VAULT_ROLE_ID}}\",\n  \"secret_id\": \"{{ $env.VAULT_SECRET_ID}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -432,
        -48
      ],
      "id": "9d1698f4-42a9-4c40-8ecc-44ab0a134fb4",
      "name": "authenticateWithVault",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yjLHOV1jIlZiSZuR",
          "name": "VaultMaster"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-14T01:12:38.215Z",
      "createdAt": "2025-11-14T01:12:38.215Z",
      "role": "workflow:owner",
      "workflowId": "y58xQQPT8j29dRLy",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-14T02:42:54.599Z",
  "versionId": "f4eb82f9-99c7-4636-8d9c-05117b2c3204"
}