workflows/GetLabels.json
{
  "active": false,
  "connections": {
    "start ref": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T18:47:03.071Z",
  "id": "qF1mShqmLmK1hf4n",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GetLabels",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "newlabel",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -192
      ],
      "id": "56962bed-21b6-4b57-aaf0-0e2b7169fd71",
      "name": "start ref"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -192
      ],
      "id": "7ee8d348-e5f2-486c-be11-b91cfebb3a22",
      "name": "Get many labels",
      "webhookId": "796abcf1-ad25-44be-8816-2e03731c17db",
      "credentials": {
        "gmailOAuth2": {
          "id": "HAqDfkIe5gd42otF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2f89325-f7b3-4275-a2f8-b475f9c6c87c",
              "leftValue": "={{ $json.type }}",
              "rightValue": "user",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        176,
        -192
      ],
      "id": "8bb942e6-f1e9-4cea-b2be-12d8a2a5c072",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b38be9c0-501b-4721-9007-9764b8881c39",
              "name": "={{ $json.id }}",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -192
      ],
      "id": "34504e02-2a74-4301-b3aa-8aaa904531de",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-28T18:47:03.071Z",
      "createdAt": "2025-10-28T18:47:03.071Z",
      "role": "workflow:owner",
      "workflowId": "qF1mShqmLmK1hf4n",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T03:21:30.668Z",
  "versionId": "ef0f047b-cd13-468a-90c0-b64b1549bfe4"
}