workflows/InstallWazuhAgent.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "setWazuhAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setToken": {
      "main": [
        [
          {
            "node": "setWazuhVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRequest": {
      "main": [
        [
          {
            "node": "setToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ExternalSecretsVault'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "getRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call getSystemInfo": {
      "main": [
        [
          {
            "node": "setSystemInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setSystemInfo": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "setSystemReq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setWazuhVars": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "loopOverSystems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopOverSystems": {
      "main": [
        [],
        [
          {
            "node": "Call getSystemInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setWazuhAPI": {
      "main": [
        [
          {
            "node": "Call 'ExternalSecretsVault'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setSystemReq": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "loopOverSystems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T03:31:29.051Z",
  "id": "vbUe7XqtQgZugSGc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "InstallWazuhAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        -512
      ],
      "id": "f39d8e26-613f-4a18-9e5e-826fc4d4392b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MzOnbuo6q1itFwwP",
          "mode": "list",
          "cachedResultUrl": "/workflow/MzOnbuo6q1itFwwP",
          "cachedResultName": "getSystemInfo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ipAddress": "={{ $json.systems }}"
          },
          "matchingColumns": [
            "ipAddress"
          ],
          "schema": [
            {
              "id": "ipAddress",
              "displayName": "ipAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        368,
        -496
      ],
      "name": "Call getSystemInfo",
      "id": "599401a1-11d4-47b2-ab88-7416cb645e83"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57804588-6981-4f46-801e-eb66f2f2d46c",
              "name": "bearerToken",
              "value": "=Bearer {{ $json.data.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -752
      ],
      "id": "a90d1fc3-0245-496c-a16c-5bc0d6da4215",
      "name": "setToken"
    },
    {
      "parameters": {
        "url": "={{ $('setWazuhAPI').item.json.api_url }}{{ $('setWazuhAPI').item.json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -784
      ],
      "id": "7f9f54e9-cd4e-4177-b544-9298f1b552f6",
      "name": "getRequest",
      "credentials": {
        "httpBasicAuth": {
          "id": "ItKXmnG3bO7qzk1p",
          "name": "n8n-wazuh"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1p8UcMcDOMzDrc0i",
          "mode": "list",
          "cachedResultUrl": "/workflow/1p8UcMcDOMzDrc0i",
          "cachedResultName": "ExternalSecretsVault"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -896,
        -784
      ],
      "id": "c5761a07-26d4-46d4-b358-1512accc8eae",
      "name": "Call 'ExternalSecretsVault'"
    },
    {
      "parameters": {
        "jsCode": "// Get the password from the previous node\nconst password = $('Call \\'ExternalSecretsVault\\'').item.json.authd_password;\n\n// Define common values\nconst manager = 'wazuh.diagon.ally';\nconst version = '4.14.0-1';\n\n// Helper function to escape for shell\nfunction escapeShell(str) {\n  return str.replace(/'/g, \"'\\\\''\");\n}\n\n// Build commands object\nconst commands = {\n  \"Linux aarch64\": `wget https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_${version}_arm64.deb && sudo WAZUH_MANAGER='${manager}' WAZUH_REGISTRATION_PASSWORD='${escapeShell(password)}' WAZUH_AGENT_GROUP='REPLACE_GROUP' WAZUH_AGENT_NAME='REPLACE_NAME' dpkg -i ./wazuh-agent_${version}_arm64.deb`,\n  \n  \"Linux amd64\": `wget https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_${version}_amd64.deb && sudo WAZUH_MANAGER='${manager}' WAZUH_REGISTRATION_PASSWORD='${escapeShell(password)}' WAZUH_AGENT_GROUP='REPLACE_GROUP' WAZUH_AGENT_NAME='REPLACE_NAME' dpkg -i ./wazuh-agent_${version}_amd64.deb`,\n  \n  \"Windows\": `Invoke-WebRequest -Uri https://packages.wazuh.com/4.x/windows/wazuh-agent-${version}.msi -OutFile $env:tmp\\\\wazuh-agent; msiexec.exe /i $env:tmp\\\\wazuh-agent /q WAZUH_MANAGER='${manager}' WAZUH_REGISTRATION_PASSWORD='${password}' WAZUH_AGENT_GROUP='REPLACE_GROUP' WAZUH_AGENT_NAME='REPLACE_NAME'`\n};\n\n// Return as array of objects (your original format)\nconst output = {\n  commands: Object.entries(commands).map(([key, value]) => ({[key]: value}))\n};\n\n// Validate it's proper JSON\nJSON.parse(JSON.stringify(output));\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -528
      ],
      "id": "65e6e215-b93c-4e51-8d96-50b30c600172",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ecc4573-8ac9-4c25-87c4-bdc102cde0c0",
              "name": "os_arch",
              "value": "={{ $json.os }} {{ $json.arch }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -496
      ],
      "id": "60cbc50f-046d-40bf-bf16-cdb928406247",
      "name": "setSystemInfo"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the OS architecture\nos_arch = _input.first().json.os_arch\n\n# Get the commands\ncommands = _('Code in JavaScript').first().json.commands\n\n# Determine which command to return\nif \"Linux aarch64\" in os_arch:\n  command = commands[0][\"Linux aarch64\"]\nelif \"Linux amd64\" in os_arch:\n  command = commands[1][\"Linux amd64\"]\nelif \"Windows\" in os_arch:\n  command = commands[2][\"Windows\"]\nelse:\n  command = \"Not valid entry\"\n\n# Return in n8n format\nreturn [{\"json\": {\"command\": command, \"os_arch\": os_arch}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -496
      ],
      "id": "614210ed-66e6-4262-9752-86da766cf782",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -896,
        -288
      ],
      "id": "65bc8cd1-5334-4511-bc1a-8c64dcac766d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af4b3d25-dcc4-469b-886d-19b5d8346b2f",
              "name": "api_url",
              "value": "https://wazuh.wazuh.svc.cluster.local:55000",
              "type": "string"
            },
            {
              "id": "32572bad-0136-4240-b485-79f4eaa14fdc",
              "name": "endpoint",
              "value": "/security/user/authenticate",
              "type": "string"
            },
            {
              "id": "804f48a8-3db4-465f-a782-f35f5e0d00d5",
              "name": "systems",
              "value": "[\"10.0.0.201\", \"10.0.0.202\", \"10.0.0.203\", \"10.0.0.204\", \"10.0.0.205\", \"10.0.0.206\", \"10.0.0.207\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -768
      ],
      "id": "f8eb09f9-af47-4693-968e-bff20fb996e6",
      "name": "setWazuhVars"
    },
    {
      "parameters": {
        "fieldToSplitOut": "systems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        -768
      ],
      "id": "582f225a-df35-4f40-871c-f32b1fac7af7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        -512
      ],
      "id": "260271aa-83a3-48a8-986a-1c024a51c876",
      "name": "loopOverSystems"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af4b3d25-dcc4-469b-886d-19b5d8346b2f",
              "name": "api_url",
              "value": "https://wazuh.wazuh.svc.cluster.local:55000",
              "type": "string"
            },
            {
              "id": "32572bad-0136-4240-b485-79f4eaa14fdc",
              "name": "endpoint",
              "value": "/security/user/authenticate",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        -384
      ],
      "id": "e4d28af0-bf9d-48d0-86af-70b45f008380",
      "name": "setWazuhAPI"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.command.replace(\"wazuh.diagon.ally\", \"10.0.0.234\") }}",
        "cwd": "/home/caboose"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1120,
        -496
      ],
      "id": "d3dd5fd1-c252-4407-8603-c335dd67be38",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "FqnNk3OcqFuYWU87",
          "name": "sshWazuh"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f66dc2-0796-4a7f-8529-3c8b734c1a9b",
              "name": "command",
              "value": "=sudo {{ $json.command.replace(\"REPLACE_GROUP\", \"kubernetes\").replace(\"REPLACE_NAME\", $('loopOverSystems').item.json.systems) }} && sudo systemctl daemon-reload && sudo systemctl enable wazuh-agent && sudo systemctl start wazuh-agent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -640
      ],
      "id": "60211c52-e9d4-4332-85bb-97cb53db8636",
      "name": "setSystemReq"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-06T03:31:29.051Z",
      "createdAt": "2025-11-06T03:31:29.051Z",
      "role": "workflow:owner",
      "workflowId": "vbUe7XqtQgZugSGc",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T19:35:04.577Z",
  "versionId": "2356f867-8ef2-4690-8f9b-b5060c0e205f"
}