workflows/rss_feeds.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Call 'call_rss_feeds'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'call_rss_feeds'": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "Get many messages": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-29T03:49:15.013Z",
  "id": "BYJ38mMlpKHn0fPP",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "rss_feeds",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        1296
      ],
      "id": "9cd867ff-28f9-4dbd-a477-1765fba69815",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        2000
      ],
      "id": "662c78c8-f060-47e9-b247-818497516839",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1712,
        448
      ],
      "id": "57dc6d12-dcbe-49eb-942e-3541bfc3d775",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node: RSS to Discord Embed (Single Story)\n// Place this code in a \"Code\" node (Run Once for Each Item mode)\n// Then connect to Discord webhook node\n\n// Get the input item\nconst item = $input.item.json;\n\n// Helper function to truncate text for Discord limits\nfunction truncate(text, maxLength) {\n  if (!text) return '';\n  // Strip HTML tags\n  text = text.replace(/<[^>]*>/g, '');\n  // Decode HTML entities\n  text = text.replace(/&nbsp;/g, ' ')\n            .replace(/&amp;/g, '&')\n            .replace(/&lt;/g, '<')\n            .replace(/&gt;/g, '>')\n            .replace(/&quot;/g, '\"');\n  text = text.trim();\n  \n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 3) + '...';\n}\n\n// Helper function to extract image URL from content\nfunction extractImage(content) {\n  if (!content) return null;\n  const imgMatch = content.match(/<img[^>]+src=\"([^\">]+)\"/);\n  return imgMatch ? imgMatch[1] : null;\n}\n\n// Format timestamp for Discord (Unix timestamp)\nfunction getTimestamp(dateString) {\n  if (!dateString) return Math.floor(Date.now() / 1000);\n  return Math.floor(new Date(dateString).getTime() / 1000);\n}\n\n// Extract domain from URL for footer\nfunction getDomain(url) {\n  if (!url) return 'RSS Feed';\n  try {\n    const domain = new URL(url).hostname;\n    return domain.replace('www.', '');\n  } catch {\n    return 'RSS Feed';\n  }\n}\n\n// Get color based on categories or default\nfunction getEmbedColor(categories) {\n  if (!categories || categories.length === 0) return 5814783; // Default blue\n  \n  const colorMap = {\n    'technology': 3447003,  // Blue\n    'tech': 3447003,\n    'science': 3066993,     // Aqua\n    'business': 15105570,   // Gold\n    'politics': 10038562,   // Dark Blue\n    'sports': 3066993,      // Green\n    'entertainment': 15277667, // Bright Red\n    'health': 5763719,      // Green\n    'world': 9807270,       // Purple\n    'news': 15158332,       // Red\n  };\n  \n  const firstCategory = categories[0].toLowerCase();\n  return colorMap[firstCategory] || 5814783; // Default blue\n}\n\n// Build Discord embed\nconst embed = {\n  title: truncate(item.title || 'Untitled Story', 256),\n  description: truncate(\n    item.contentSnippet || item.content || item.description || 'No description available',\n    4096\n  ),\n  url: item.link || null,\n  color: getEmbedColor(item.categories),\n  timestamp: new Date(item.pubDate || item.isoDate || Date.now()).toISOString(),\n  footer: {\n    text: getDomain(item.link)\n  },\n  author: item.creator || item.author ? {\n    name: item.creator || item.author\n  } : undefined,\n  image: extractImage(item.content) ? {\n    url: extractImage(item.content)\n  } : undefined,\n  fields: []\n};\n\n// Add categories as a field if available\nif (item.categories && item.categories.length > 0) {\n  embed.fields.push({\n    name: '📁 Categories',\n    value: item.categories.slice(0, 5).join(', '),\n    inline: false\n  });\n}\n\n// Add published date in readable format as field\nif (item.pubDate || item.isoDate) {\n  const date = new Date(item.pubDate || item.isoDate);\n  embed.fields.push({\n    name: '📅 Published',\n    value: `<t:${getTimestamp(item.pubDate || item.isoDate)}:R>`, // Discord relative time\n    inline: true\n  });\n}\n\n// Return formatted for Discord webhook\nreturn {\n  json: {\n    content: null, // No text content, just embed\n    embeds: [embed],\n    // Additional metadata for reference\n    _metadata: {\n      title: item.title,\n      link: item.link,\n      originalPubDate: item.pubDate || item.isoDate\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        624
      ],
      "id": "678db852-9a11-4792-a392-c6ed1b5a619c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "batchSize": 9,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        128
      ],
      "id": "8d0d9088-e4e4-4a25-8dbc-4c44d2ca22ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.embeds[0].description }}",
              "author": "={{ $json.embeds[0].author.name }}",
              "color": "={{ $json.embeds[0].color }}",
              "timestamp": "={{ $json.embeds[0].timestamp }}",
              "title": "={{ $json.embeds[0].title }}",
              "url": "={{ $json.embeds[0].url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        832
      ],
      "id": "b1c8bce0-252b-48fe-b9cd-c5f9b2e27124",
      "name": "Discord",
      "webhookId": "4d01931f-12ad-4528-9e87-0f3f63557a42",
      "credentials": {
        "discordWebhookApi": {
          "id": "PEcACOgksmJa2Rym",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "993159365924241408",
          "mode": "list",
          "cachedResultName": "PvtCaboose's test server",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408"
        },
        "channelId": {
          "__rl": true,
          "value": "1434167626883534869",
          "mode": "list",
          "cachedResultName": "rss",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408/1434167626883534869"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "author": "={{ $json.creator }}",
              "timestamp": "={{ $json.pubDate.toDateTime().toISO() }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        144
      ],
      "id": "db3ed5aa-412a-47f9-9446-35318b2acf78",
      "name": "Send a message1",
      "webhookId": "c300ea84-6aa6-4c95-ba86-91baf2993cb4",
      "credentials": {
        "discordOAuth2Api": {
          "id": "T6aDxtG3GOSh3bjy",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"feeds\": [\n  {\n    \"url\": \"https://grahamcluley.com/feed/\",\n    \"name\": \"Graham Cluley\"\n  },\n  {\n    \"url\": \"https://krebsonsecurity.com/feed/\",\n    \"name\": \"Krebs on Security\"\n  },\n  {\n    \"url\": \"https://www.schneier.com/feed/atom/\",\n    \"name\": \"Schneier on Security\"\n  },\n  {\n    \"url\": \"https://securelist.com/feed/\",\n    \"name\": \"Securelist\"\n  },\n  {\n    \"url\": \"https://news.sophos.com/en-us/category/security-operations/feed/\",\n    \"name\": \"Security Operations – Sophos News\"\n  },\n  {\n    \"url\": \"https://feeds.feedburner.com/TheHackersNews?format=xml\",\n    \"name\": \"The Hacker News\"\n  },\n  {\n    \"url\": \"https://news.sophos.com/en-us/category/threat-research/feed/\",\n    \"name\": \"Threat Research – Sophos News\"\n  },\n  {\n    \"url\": \"https://www.troyhunt.com/rss/\",\n    \"name\": \"Troy Hunt\"\n  },\n  {\n    \"url\": \"https://feeds.feedburner.com/eset/blog\",\n    \"name\": \"WeLiveSecurity\"\n  },\n  {\n    \"url\": \"https://0dayfans.com/feed.rss\",\n    \"name\": \"0dayfans\"\n  }\n]}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1296
      ],
      "id": "fa0c4df1-163e-4d35-ab1b-a61d838dff20",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        1296
      ],
      "id": "31bc1a9f-b707-4649-8e5d-06ccfe097cf7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.feeds;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1296
      ],
      "id": "0fa9d579-b05e-484a-a331-7a3d41e6613c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8TfY9JrZw2v7vELw",
          "mode": "list",
          "cachedResultUrl": "/workflow/8TfY9JrZw2v7vELw",
          "cachedResultName": "call_rss_feeds"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        1312
      ],
      "id": "b69b20c8-afd8-4f17-90aa-9c5ec66e60fc",
      "name": "Call 'call_rss_feeds'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        752
      ],
      "id": "1e4043f9-33f4-432a-a281-8739c055befd",
      "name": "Wait",
      "webhookId": "8d6a6c83-b2ae-45ed-a767-de2184121bc4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "993159365924241408",
          "mode": "list",
          "cachedResultName": "PvtCaboose's test server",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408"
        },
        "channelId": {
          "__rl": true,
          "value": "1434167626883534869",
          "mode": "list",
          "cachedResultName": "rss",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408/1434167626883534869"
        },
        "returnAll": true,
        "options": {
          "simplify": false
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        848
      ],
      "id": "699240bc-ff94-4ddb-bb9e-deefbaace673",
      "name": "Get many messages",
      "webhookId": "f8b601c9-1427-42d4-8e4d-ec0ad750a325",
      "credentials": {
        "discordOAuth2Api": {
          "id": "T6aDxtG3GOSh3bjy",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0",
          "mode": "list",
          "cachedResultName": "rss_feed_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        1488
      ],
      "id": "0bb7ee59-203e-417e-8945-9efbfc444f37",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C80Yu9L7FK1DLAi4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc0853f5-10af-4e38-b8b4-dc763a7849ab",
              "leftValue": "={{ $('Get row(s) in sheet').all().map(item => item.json.title) }}",
              "rightValue": "={{ $json.title }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "5ebc39d8-a70c-4647-a188-466cb60529f3",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        1312
      ],
      "id": "28b8c544-c7dc-49a8-8b71-7d932b8fc73c",
      "name": "Filter",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0",
          "mode": "list",
          "cachedResultName": "rss_feed_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "content": "={{ $json.content }}",
            "contentSnippet": "={{ $json.contentSnippet }}",
            "guid": "={{ $json.guid }}",
            "isoDate": "={{ $json.isoDate }}",
            "creator": "={{ $json.creator }}",
            "comments": "={{ $json.comments }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isoDate",
              "displayName": "isoDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        1312
      ],
      "id": "f49f70a7-fc33-4a74-abe4-b08f374835be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C80Yu9L7FK1DLAi4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-29T03:49:15.013Z",
      "createdAt": "2025-10-29T03:49:15.013Z",
      "role": "workflow:owner",
      "workflowId": "BYJ38mMlpKHn0fPP",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T19:52:27.592Z",
  "versionId": "7fabc210-ce82-420b-ac5a-31e22c8f2987"
}