workflows/RSSFeeds.json
{
  "active": true,
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "PreviousFeedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetRssFeeds": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'call_rss_feeds'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'call_rss_feeds'": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreviousFeedItems": {
      "main": [
        [
          {
            "node": "SetRssFeeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-01T19:58:52.244Z",
  "id": "KW8NXCW9wW3uldwV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RSSFeeds",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0",
          "mode": "list",
          "cachedResultName": "rss_feed_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        -96
      ],
      "id": "7cdb369b-2c59-493d-a78b-b01bef9ddec2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C80Yu9L7FK1DLAi4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{ \"feeds\" :  [\n  {\n    \"url\": \"https://grahamcluley.com/feed/\",\n    \"name\": \"Graham Cluley\"\n  },\n  {\n    \"url\": \"https://krebsonsecurity.com/feed/\",\n    \"name\": \"Krebs on Security\"\n  },\n  {\n    \"url\": \"https://www.schneier.com/feed/atom/\",\n    \"name\": \"Schneier on Security\"\n  },\n  {\n    \"url\": \"https://securelist.com/feed/\",\n    \"name\": \"Securelist\"\n  },\n  {\n    \"url\": \"https://news.sophos.com/en-us/category/security-operations/feed/\",\n    \"name\": \"Security Operations – Sophos News\"\n  },\n  {\n    \"url\": \"https://feeds.feedburner.com/TheHackersNews?format=xml\",\n    \"name\": \"The Hacker News\"\n  },\n  {\n    \"url\": \"https://news.sophos.com/en-us/category/threat-research/feed/\",\n    \"name\": \"Threat Research – Sophos News\"\n  },\n  {\n    \"url\": \"https://www.troyhunt.com/rss/\",\n    \"name\": \"Troy Hunt\"\n  },\n  {\n    \"url\": \"https://feeds.feedburner.com/eset/blog\",\n    \"name\": \"WeLiveSecurity\"\n  },\n  {\n    \"url\": \"https://0dayfans.com/feed.rss\",\n    \"name\": \"0dayfans\"\n  }\n]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -96
      ],
      "id": "3360045d-3846-4e35-aa4a-7917f0e30a81",
      "name": "SetRssFeeds",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const feedsArray = $input.first().json.feeds;\n\nreturn feedsArray.map(feed => ({\n  json: feed\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -96
      ],
      "id": "0e2098d8-9da6-48e8-84eb-dc8e324c7f18",
      "name": "Code in JavaScript",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -96
      ],
      "id": "7ba1cd6b-9753-4468-87ee-6d9ca5e61848",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8TfY9JrZw2v7vELw",
          "mode": "list",
          "cachedResultUrl": "/workflow/8TfY9JrZw2v7vELw",
          "cachedResultName": "call_rss_feeds"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        -80
      ],
      "id": "cc79fd61-eb7e-43df-b53b-0f9a70c0d7f7",
      "name": "Call 'call_rss_feeds'",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9418432f-8892-4bfe-b960-74552f34466b",
              "leftValue": "={{ $('PreviousFeedItems').item.json.title }}",
              "rightValue": "={{ $json.title }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        656,
        -80
      ],
      "id": "617e22d7-c765-4caa-9abf-053c16c40c29",
      "name": "Filter",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0",
          "mode": "list",
          "cachedResultName": "rss_feed_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hmSllF4xme1Gje8tumW5lfi7S6DKhlmpK9MfsVaJK0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "content": "={{ $json.content }}",
            "contentSnippet": "={{ $json.contentSnippet }}",
            "guid": "={{ $json.guid }}",
            "creator": "={{ $json.creator }}",
            "isoDate": "={{ $json.isoDate }}",
            "content:encoded": "={{ $json[\"content:encoded\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isoDate",
              "displayName": "isoDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content:encoded",
              "displayName": "content:encoded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -80
      ],
      "id": "5a0c230d-162c-4ec5-9c79-4ad764c2ee1b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C80Yu9L7FK1DLAi4",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "277f64e6-47ab-4578-b227-c2e331fdcc76",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -96
      ],
      "id": "36d670d4-515a-4e7d-9838-05ab1fb09087",
      "name": "PreviousFeedItems"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "993159365924241408",
          "mode": "list",
          "cachedResultName": "PvtCaboose's test server",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408"
        },
        "channelId": {
          "__rl": true,
          "value": "1434167626883534869",
          "mode": "list",
          "cachedResultName": "rss",
          "cachedResultUrl": "https://discord.com/channels/993159365924241408/1434167626883534869"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.content }}",
              "author": "={{ $json.isoDate }}",
              "timestamp": "={{ $json.isoDate }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1152,
        -368
      ],
      "id": "b9c72e57-718a-4d99-967a-904d402b9ef7",
      "name": "Send a message",
      "webhookId": "dadd9c13-45e4-488a-9bfa-efb2d81f3b75",
      "executeOnce": false,
      "credentials": {
        "discordOAuth2Api": {
          "id": "T6aDxtG3GOSh3bjy",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a968f4d4-c334-48ec-bdb7-5feadbd18bbe",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        368,
        -416
      ],
      "id": "e2ae00d1-8acd-4855-9c75-c945e901e2f5",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6fb2f91d-fe1f-41f7-b635-ec4019e9f00d",
              "leftValue": "={{ $json.content }}",
              "rightValue": "=<p>",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -416
      ],
      "id": "d998ca3c-af86-4989-aa1a-20b6f341b242",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9462d3f9-79d3-406e-889e-f0581b822ada",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "5a3c297e-dd07-4786-80cf-42f5f3b843e8",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "789d85cf-8aef-4573-baad-545c9a14fe7e",
              "name": "content",
              "value": "={{ $json.content.replace(/(<([^>]+)>)/gmi, \"\") }}",
              "type": "string"
            },
            {
              "id": "1dea5cd0-09a0-4873-9e4b-8699b27a2ac0",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet.replace(/(<([^>]+)>)/gmi, \"\") }}",
              "type": "string"
            },
            {
              "id": "7332c0c7-e81c-4a9e-95f4-983b8e1bf816",
              "name": "isoDate",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -480
      ],
      "id": "e4831515-b33a-4381-8b90-fba004394ab7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -96
      ],
      "id": "a15c15b2-fc5a-4633-8e59-4d43c75ae5f1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-01T19:58:52.244Z",
      "createdAt": "2025-11-01T19:58:52.244Z",
      "role": "workflow:owner",
      "workflowId": "KW8NXCW9wW3uldwV",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-11-06T03:17:05.844Z",
      "createdAt": "2025-11-06T03:17:05.844Z",
      "id": "iosuFEQq5Z3odq2R",
      "name": "rss"
    },
    {
      "updatedAt": "2025-11-06T03:11:50.434Z",
      "createdAt": "2025-11-06T03:11:50.434Z",
      "id": "vgqvVrZ3n7HfHOM7",
      "name": "main"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-08T04:02:13.920Z",
  "versionId": "e9c4854f-f421-4f29-bacf-ea0958826069"
}