workflows/Server Resource Monitor.json
{
  "active": true,
  "connections": {
    "Trigger 1/hr": {
      "main": [
        [
          {
            "node": "ServerIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ServerIPs": {
      "main": [
        [
          {
            "node": "IPsSplit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IPsSplit": {
      "main": [
        [
          {
            "node": "LoopOverIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Resource Usage Monitor'": {
      "main": [
        [
          {
            "node": "LoopOverIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverIPs": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Resource Usage Monitor'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "combineEmbeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combineEmbeds": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T01:39:33.671Z",
  "id": "3wgF00wqogSeUpxN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Server Resource Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        -560
      ],
      "id": "69365dff-5c6a-4a92-ab24-3d45df2de000",
      "name": "Trigger 1/hr"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ips",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -512,
        -560
      ],
      "id": "eecc865a-d39a-4cfa-b978-285ef8433e7e",
      "name": "IPsSplit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48863004-a323-48e9-b0b7-bcaf58ab8ea8",
              "name": "ips",
              "value": "[\"10.0.0.201\", \"10.0.0.202\", \"10.0.0.203\", \"10.0.0.204\", \"10.0.0.205\", \"10.0.0.206\", \"10.0.0.207\" ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -560
      ],
      "id": "8429b3e0-943a-42bf-8a67-fba5d346e170",
      "name": "ServerIPs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the input\nconst inputData = $input.item.json;\n\n\n\n// console.log(inputData.summary)\n// Reconstruct with proper newlines\nif (inputData.summary) {\n  // Replace all escaped newlines with actual newlines\n  inputData.summary = inputData.summary\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\t/g, '\\t');\n}\n\nreturn inputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -656
      ],
      "id": "ff3691a0-8183-4be2-aa67-94e1dfa25023",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oC9YRhswroCQFN6G",
          "mode": "list",
          "cachedResultUrl": "/workflow/oC9YRhswroCQFN6G",
          "cachedResultName": "Resource Usage Monitor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ip": "={{ $json.ips }}"
          },
          "matchingColumns": [
            "ip"
          ],
          "schema": [
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -512
      ],
      "id": "306cd8a0-a395-4151-94cb-a46fd557d8a8",
      "name": "Call 'Resource Usage Monitor'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        -528
      ],
      "id": "2c9474da-4a24-435e-bfc6-79c52f4a0225",
      "name": "LoopOverIPs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discordapp.com/api/webhooks/1436176344974233773/6ZhxslGVdoeM8QunCCl1C4jBUSFW_E5TpEZRdCXLjyNCd5xbLEl4RdpIuxLA28IzwwL4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -656
      ],
      "id": "3a358689-0a53-4abd-b8e6-20efe407883d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// Helper function for progress bars\nfunction createProgressBar(percent, length = 10) {\n  if (!percent || isNaN(percent)) return '░'.repeat(length);\n  const filled = Math.round((percent / 100) * length);\n  const empty = length - filled;\n  return '▓'.repeat(filled) + '░'.repeat(empty);\n}\n\n// Create fields array\nconst fields = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n  const item = allItems[i];\n  const embed = item.json.embeds[0];\n  const title = embed.title || 'Unknown Server';\n  const isError = title.includes('Error');\n  \n  let value = '';\n  \n  if (isError) {\n    value = '```diff\\n- Connection Failed\\n- Unable to fetch stats\\n```';\n  } else {\n    // Extract detailed stats from description\n    const desc = embed.description || '';\n    const cpuMatch = desc.match(/Cores:\\s+(\\d+).*?Usage:\\s+(\\d+\\.?\\d*)%/s);\n    const memMatch = desc.match(/Total:\\s+([\\d.]+\\s+\\w+).*?Used:\\s+([\\d.]+\\s+\\w+)\\s+\\((\\d+\\.?\\d*)%\\)/s);\n    const storageMatches = [...desc.matchAll(/\\*(\\/dev\\/[\\w\\/]+)\\*.*?Total:\\s+([\\d.]+\\s+\\w+).*?\\((\\d+)%\\)/gs)];\n    \n    const cpuCores = cpuMatch ? cpuMatch[1] : 'N/A';\n    const cpuUsage = cpuMatch ? cpuMatch[2] : 'N/A';\n    const memTotal = memMatch ? memMatch[1] : 'N/A';\n    const memUsed = memMatch ? memMatch[2] : 'N/A';\n    const memPercent = memMatch ? memMatch[3] : 'N/A';\n    \n    // Build cleaner display\n    value = '```\\n';\n    value += `💻 CPU (${cpuCores} cores)\\n`;\n    value += `   ${parseFloat(cpuUsage).toFixed(1)}%\\n`;\n    value += `   ${createProgressBar(parseFloat(cpuUsage))}\\n\\n`;\n    \n    value += `🧠 Memory\\n`;\n    value += `   ${memUsed} / ${memTotal}\\n`;\n    value += `   ${parseFloat(memPercent).toFixed(1)}%\\n`;\n    value += `   ${createProgressBar(parseFloat(memPercent))}\\n\\n`;\n    \n    // Show ALL storage devices\n    if (storageMatches.length > 0) {\n      value += `💾 Storage\\n`;\n      storageMatches.forEach((match) => {\n        const device = match[1].split('/').pop();\n        const percent = match[3];\n        value += `   ${device}: ${percent}%\\n`;\n      });\n    }\n    \n    value += '```';\n  }\n  \n  fields.push({\n    name: title,\n    value: value,\n    inline: true\n  });\n  \n  // Add a spacer field after every 2 items to force 2 per row\n  if ((i + 1) % 2 === 0 && i < allItems.length - 1) {\n    fields.push({\n      name: '\\u200b', // Invisible character\n      value: '\\u200b',\n      inline: false // This breaks to a new row\n    });\n  }\n}\n\n// Determine overall health color\nconst maxUsage = Math.max(...allItems\n  .map(item => {\n    const embed = item.json.embeds[0];\n    const desc = embed.description || '';\n    const memMatch = desc.match(/Memory.*?\\((\\d+\\.?\\d*)%\\)/s);\n    return memMatch ? parseFloat(memMatch[1]) : 0;\n  })\n  .filter(val => val > 0)\n);\n\nconst healthColor = maxUsage > 90 ? 15158332 : (maxUsage > 75 ? 16776960 : 3447003);\nconst errorCount = fields.filter(f => f.name.includes('❌')).length;\n\n// Return single embed with inline fields\nreturn [{\n  json: {\n    embeds: [{\n      title: '📊 Server Resources Dashboard',\n      description: `**${allItems.length} servers** monitored • ${errorCount > 0 ? `⚠️ ${errorCount} error(s)` : '✅ All online'}`,\n      fields: fields,\n      color: healthColor,\n      timestamp: new Date().toISOString(),\n      footer: {\n        text: `Last updated • ${new Date().toLocaleString()}`\n      }\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -656
      ],
      "id": "46d39072-cd4e-472a-9651-41688ecf398f",
      "name": "combineEmbeds"
    }
  ],
  "pinData": {
    "Trigger 1/hr": [
      {
        "json": {
          "timestamp": "2025-11-06T17:00:47.046-05:00",
          "Readable date": "November 6th 2025, 5:00:47 pm",
          "Readable time": "5:00:47 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "06",
          "Hour": "17",
          "Minute": "00",
          "Second": "47",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-31T01:39:33.671Z",
      "createdAt": "2025-10-31T01:39:33.671Z",
      "role": "workflow:owner",
      "workflowId": "3wgF00wqogSeUpxN",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Trigger 1/hr": {
      "recurrenceRules": []
    },
    "node:Trigger 1/Week/Sun": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-11-06T03:11:50.434Z",
      "createdAt": "2025-11-06T03:11:50.434Z",
      "id": "vgqvVrZ3n7HfHOM7",
      "name": "main"
    },
    {
      "updatedAt": "2025-11-06T03:11:26.029Z",
      "createdAt": "2025-11-06T03:11:26.029Z",
      "id": "2Fe7Mr4Z10EcxIti",
      "name": "monitoring"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-09T19:15:05.964Z",
  "versionId": "80c9857d-dfc0-4c34-bd04-26373b477d05"
}