workflows/Server Resource Monitor.json
{
  "active": false,
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set IP List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IP List": {
      "main": [
        [
          {
            "node": "Split IP Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split IP Addresses": {
      "main": [
        [
          {
            "node": "Get Memory Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Storage Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get CPU Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory Info": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Storage Info": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CPU Info": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T02:04:11.099Z",
  "id": "eLDxYNcVvNPXwKPz",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Server Resource Monitor",
  "nodes": [
    {
      "parameters": {},
      "id": "c2133843-c732-489f-a5f1-caf4ed8fcb8e",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -224
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ip_addresses",
              "value": "\"10.0.0.202\",\"10.0.0.203\",\"10.0.0.204\",\"10.0.0.205\",\"10.0.0.206\",\"10.0.0.207\"\"10.0.0.201\""
            }
          ]
        },
        "options": {}
      },
      "id": "d4ef8fbb-9d37-4397-b93c-2d16b7ac1c4c",
      "name": "Set IP List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -432,
        -224
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ip_addresses",
        "options": {
          "destinationFieldName": "ip"
        }
      },
      "id": "25ebaaa8-88a0-4ac6-b624-012ce8f1425b",
      "name": "Split IP Addresses",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        -224
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "free -m | awk 'NR==2{printf \"{\\\"total_mb\\\":%s,\\\"used_mb\\\":%s,\\\"free_mb\\\":%s,\\\"available_mb\\\":%s}\", $2,$3,$4,$7}'"
      },
      "id": "e0196eef-9062-4d85-822a-794c3ff57ab8",
      "name": "Get Memory Info",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        16,
        -320
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "J8YoUQo9NZFhjoYx",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "df -BG / | awk 'NR==2{printf \"{\\\"total_gb\\\":\\\"%s\\\",\\\"used_gb\\\":\\\"%s\\\",\\\"available_gb\\\":\\\"%s\\\",\\\"use_percent\\\":\\\"%s\\\"}\", $2,$3,$4,$5}'"
      },
      "id": "a889354a-eb0b-42c5-93a1-2e2a48efe9b4",
      "name": "Get Storage Info",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        16,
        -128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "J8YoUQo9NZFhjoYx",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "top -bn1 | grep \"Cpu(s)\" | sed \"s/.*, *\\([0-9.]*\\)%* id.*/\\1/\" | awk '{printf \"{\\\"cpu_idle_percent\\\":%.2f,\\\"cpu_used_percent\\\":%.2f}\", $1, 100-$1}'"
      },
      "id": "962c48d8-2597-4af5-ab2a-0bf70f8f1249",
      "name": "Get CPU Info",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        16,
        80
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "J8YoUQo9NZFhjoYx",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all resource data for each IP\nconst items = [];\n\nfor (let i = 0; i < $input.all().length; i += 3) {\n  const memoryNode = $input.all()[i];\n  const storageNode = $input.all()[i + 1];\n  const cpuNode = $input.all()[i + 2];\n  \n  const ip = memoryNode.json.ip;\n  \n  // Parse the JSON strings from command outputs\n  const memory = JSON.parse(memoryNode.json.stdout);\n  const storage = JSON.parse(storageNode.json.stdout);\n  const cpu = JSON.parse(cpuNode.json.stdout);\n  \n  items.push({\n    json: {\n      ip: ip,\n      timestamp: new Date().toISOString(),\n      memory: {\n        total_mb: memory.total_mb,\n        used_mb: memory.used_mb,\n        free_mb: memory.free_mb,\n        available_mb: memory.available_mb,\n        free_percent: ((memory.free_mb / memory.total_mb) * 100).toFixed(2)\n      },\n      storage: {\n        total: storage.total_gb,\n        used: storage.used_gb,\n        available: storage.available_gb,\n        use_percent: storage.use_percent\n      },\n      cpu: {\n        used_percent: cpu.cpu_used_percent.toFixed(2),\n        idle_percent: cpu.cpu_idle_percent.toFixed(2)\n      }\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "1bea5910-0c3f-4e7e-9b57-9be4469ab84f",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -128
      ]
    },
    {
      "parameters": {
        "content": "## Server Resource Monitor\n\nThis workflow checks system resources for servers:\n- **IPs:** 10.0.0.202 - 10.0.0.207\n- **Metrics:** Memory, Storage, CPU\n\n### Setup Required:\n1. Configure SSH credentials\n2. Ensure SSH access to all servers\n3. Test workflow manually or schedule it\n\n### Output:\nCombined resource data for all servers",
        "height": 340,
        "width": 380
      },
      "id": "2576e6a9-04c5-4b89-a6fd-861eae8eacc2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -64
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-02T02:04:11.099Z",
      "createdAt": "2025-11-02T02:04:11.099Z",
      "role": "workflow:owner",
      "workflowId": "eLDxYNcVvNPXwKPz",
      "projectId": "9tVnjhoqECLAKTN1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T03:16:25.603Z",
  "versionId": "a668bd68-ae96-4ab0-a83d-8a724fa8db06"
}